
/* breadList.css
========================================================================== */
 .c-breadList {
   width:1000px;
   margin: 0 auto;
   padding-top: 25px;
   padding-bottom: 36px;
 }


 .c-breadList ul li{
  list-style: none;
  font-size: 14px;
  display: inline;
  padding-right: 10px;
}

 .c-breadList ul{
  margin: 0 auto;
  display: flex;
  padding-left: 0px;
 }

 .c-breadList li a{
   color:#000;
 }
 .c-breadList li._active a{
   text-decoration: none;
 }
 .c-breadList li._link a{
   cursor: pointer;
   -webkit-transition: all .3s;
   transition: all .3s;
 }

 .c-breadLis li._link a:hover {
   color: #ccc;
 }
