/* hrading.css
========================================================================== */


/* home ================== */

.c-article__heading{
  font-size: 24px;
  height:49px;
  display: table;
  width:990px;
  margin-bottom: 30px;
}
.c-article__heading span{
  padding-left:20px;
  display: table-cell; /* 子要素はテーブルセル要素にする */
  vertical-align: middle; /* 上下中央に寄せる */
}
.c-article__heading._news{
  background-color: #fff9da;
  border: 1px solid #ffd800;
  border-left: 7px solid #ffd800;
}

.c-article__heading._feature{
  background-color: #fff2f2;
  border: 1px solid #f68e56;
  border-left: 7px solid #f68e56;
}

.c-article__heading._blog{
  background-color: #ebebeb;
  border: 1px solid #6dcff6;
  border-left: 7px solid #6dcff6;
}

/* archive ================== */
.c-AnchorLink__heading{
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 28px;
}

.c-AnchorLink__heading__h3{
  font-size: 18px;
  font-weight: bold;
  background-color: #ece6e6;
  padding: 11px 0px 11px 18px;
  margin:0px 0px 25px 0px;
}
/* article ================== */

.c-article__heading{
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  height:80px;
  border: 2px solid #000;
  background-color: #6dcff6;
  margin-bottom: 0px;
}
.c-article__heading__h3{
  font-size: 24px;
  height:49px;
  display: table;
  width:990px;
  margin-bottom: 30px;
  background-color: #fff9da;
  border-left: 7px solid #ffd800;
}
.c-article__heading__h3 span{
  padding-left:20px;
  display: table-cell; /* 子要素はテーブルセル要素にする */
  vertical-align: middle; /* 上下中央に寄せる */
}
