
/*  table.css
========================================================================== */

.c-table ,tr ,th ,td{
  font-size: 14px;
  border: 1px solid #ccc;
  border-collapse:  collapse;
  padding: 8px 20px 8px 20px;
}

.c-table{
  margin: 0px 0px 45px 0px;
}
.c-table table th{
  font-weight: bold;
}

.c-table th._green{
  background-color: #acd373;
  color:#fff;
}
.c-table th._gray{
  background-color: #ece6e6;
}

.c-table th._blue{
  background-color: #6dcff6;
}
