/* anchorLink.css
========================================================================== */
.p-anchorLink{
  width:1000px;
  margin: 0 auto;
  padding-bottom: 13px;
}
.p-anchorLink._3rd{
  padding-bottom: 60px;
}
.p-anchorLink__thumbArea{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.p-anchorLink__thumbArea._2nd{
  margin-bottom: 25px
}
.p-articleBox4col{
  width:235px;
  padding-bottom:8px;
}

.p-anchorLink p{
  font-size: 14px;
  margin-bottom:15px;
}

.p-anchorLink .p-articleBox3col{
  margin-bottom:35px;
}
