/* anchorLink.css
========================================================================== */
.p-article{
  width:1000px;
  margin: 0 auto;
  padding: 26px 0px 20px 0px;
}

.p-article._2nd{
  padding: 26px 0px 125px 0px;
}
